n8n_test_pipe_workflow.json
{
  "name": "Open WebUI N8N Pipe Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openwebui-test",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log the incoming message from Open WebUI\nconsole.log('Received from Open WebUI:', $json);\n\n// Extract the user message\nconst userMessage = $json.message || $json.body?.message || 'No message received';\nconst user = $json.user || 'Anonymous';\n\n// Create a simple response\nconst response = {\n  success: true,\n  message: `Hello ${user}! I received your message: \"${userMessage}\". This is a test response from your n8n workflow.`,\n  timestamp: new Date().toISOString(),\n  workflow: 'Open WebUI N8N Pipe Test',\n  received_data: $json\n};\n\nreturn { json: response };"
      },
      "id": "process-message",
      "name": "Process Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}"
      },
      "id": "return-response",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Message": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/New_York"
  },
  "versionId": "1",
  "meta": {
    "templateCreatedBy": "Open WebUI N8N Pipe Test Workflow"
  }
}