n8n_compatible_test_workflow.json
{
  "name": "Open WebUI N8N Pipe Compatible Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdf-processing",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract data from Open WebUI N8N Pipe function\nconst sessionId = $json.sessionId || 'unknown-session';\nconst userMessage = $json.chatInput || 'No message received';\n\nconsole.log('Session ID:', sessionId);\nconsole.log('User Message:', userMessage);\nconsole.log('Full payload:', $json);\n\n// Create response in the format N8N Pipe expects\nconst response = {\n  output: `Hello! I received your message: \"${userMessage}\". This is coming from your n8n workflow! Session: ${sessionId}`,\n  sessionId: sessionId,\n  timestamp: new Date().toISOString(),\n  workflow: 'Open WebUI N8N Pipe Test',\n  success: true\n};\n\nreturn { json: response };"
      },
      "id": "process-message",
      "name": "Process Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json, null, 2) }}"
      },
      "id": "return-response",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Message": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/New_York"
  },
  "versionId": "1"
}