workflows/archive/failed_attempts/BASE64_upload_solution.json
{
  "name": "BASE64-LlamaParse-Upload",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docsgpt-batch-process",
        "responseMode": "lastNode",
        "responseData": "allEntries"
      },
      "id": "webhook-trigger",
      "name": "DocsGPT Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "docsgpt-batch-process"
    },
    {
      "parameters": {
        "filePath": "/data/local/chemistry-json-debug-test.pdf/d4sc03921a.pdf",
        "options": {}
      },
      "id": "read-file",
      "name": "Read PDF File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Convert binary to base64 for HTTP upload\nif (!$binary || !$binary.data) {\n  throw new Error('No binary data available');\n}\n\nconst fileBuffer = $binary.data;\nconsole.log('File buffer length:', fileBuffer.length);\nconst base64Data = fileBuffer.toString('base64');\nconsole.log('Base64 length:', base64Data.length);\n\nreturn [{\n  json: {\n    file_base64: base64Data,\n    file_size: fileBuffer.length,\n    ready_for_upload: true\n  }\n}];"
      },
      "id": "convert-to-base64",
      "name": "Convert to Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer LLAMAPARSE_API_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.file_base64 }}"
            },
            {
              "name": "result_type",
              "value": "markdown"
            },
            {
              "name": "premium_mode",
              "value": "true"
            }
          ]
        }
      },
      "id": "llamaparse-upload",
      "name": "LlamaParse Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "DocsGPT Webhook": {
      "main": [[{"node": "Read PDF File", "type": "main", "index": 0}]]
    },
    "Read PDF File": {
      "main": [[{"node": "Convert to Base64", "type": "main", "index": 0}]]
    },
    "Convert to Base64": {
      "main": [[{"node": "LlamaParse Upload", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "base64",
  "meta": {},
  "id": "base64-llamaparse-upload",
  "tags": []
}