workflows/archive/failed_attempts/CORRECTED_COMPLETE_WORKFLOW.json
{
  "name": "CORRECTED-COMPLETE-WORKFLOW",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "corrected-complete-workflow",
        "responseMode": "onReceived"
      },
      "id": "webhook",
      "name": "DocsGPT Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "corrected-complete-workflow"
    },
    {
      "parameters": {
        "filePath": "/data/local/chemistry-paper.pdf/d4sc03921a.pdf"
      },
      "id": "read-file",
      "name": "Read PDF File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer LLAMAPARSE_API_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "",
              "type": "n8nBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "result_type",
              "value": "markdown"
            },
            {
              "name": "premium_mode",
              "value": "true"
            }
          ]
        }
      },
      "id": "llamaparse-upload",
      "name": "LlamaParse Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 45
      },
      "id": "wait-processing",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $('LlamaParse Upload').first().json.id }}/result/markdown",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer LLAMAPARSE_API_KEY_PLACEHOLDER"
            }
          ]
        }
      },
      "id": "get-results",
      "name": "Get LlamaParse Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const llamaParseResult = $input.all()[0].json;\nconst webhookData = $('DocsGPT Webhook').first().json;\nconst uploadResponse = $('LlamaParse Upload').first().json;\n\nlet markdownContent = '';\nif (llamaParseResult && llamaParseResult.markdown) {\n  markdownContent = llamaParseResult.markdown;\n} else if (typeof llamaParseResult === 'string') {\n  markdownContent = llamaParseResult;\n} else {\n  markdownContent = 'No content extracted from PDF';\n}\n\nconst response = {\n  success: true,\n  batch_id: webhookData.batch_id || 'unknown',\n  processed_file: 'd4sc03921a.pdf',\n  llamaparse_job_id: uploadResponse.id,\n  markdown_length: markdownContent.length,\n  processing_timestamp: new Date().toISOString(),\n  status: 'processing_complete',\n  markdown_preview: markdownContent.substring(0, 1000) + '...',\n  full_markdown: markdownContent\n};\n\nreturn {\n  json: response\n};"
      },
      "id": "prepare-response",
      "name": "Prepare Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "DocsGPT Webhook": {
      "main": [[{"node": "Read PDF File", "type": "main", "index": 0}]]
    },
    "Read PDF File": {
      "main": [[{"node": "LlamaParse Upload", "type": "main", "index": 0}]]
    },
    "LlamaParse Upload": {
      "main": [[{"node": "Wait for Processing", "type": "main", "index": 0}]]
    },
    "Wait for Processing": {
      "main": [[{"node": "Get LlamaParse Results", "type": "main", "index": 0}]]
    },
    "Get LlamaParse Results": {
      "main": [[{"node": "Prepare Final Response", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "id": "corrected-complete-workflow",
  "tags": []
}