workflows/archive/failed_attempts/CORRECT_SHARED_VOLUME.json
{
  "name": "CORRECT-SHARED-VOLUME",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docsgpt-shared-volume",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "id": "webhook",
      "name": "DocsGPT Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "docsgpt-shared-volume"
    },
    {
      "parameters": {
        "filePath": "=/data/local/{{ $json.files[0].path.split('/').pop() }}/{{ $json.files[0].name }}",
        "options": {}
      },
      "id": "read-file",
      "name": "Read Shared File",
      "type": "n8n-nodes-base.readBinaryFile", 
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer LLAMAPARSE_API_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data", 
        "sendBinaryData": true,
        "binaryPropertyName": "data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "result_type",
              "value": "markdown"
            },
            {
              "name": "premium_mode",
              "value": "true"
            }
          ]
        }
      },
      "id": "llamaparse-upload",
      "name": "LlamaParse Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    }
  ],
  "connections": {
    "DocsGPT Webhook": {
      "main": [[{"node": "Read Shared File", "type": "main", "index": 0}]]
    },
    "Read Shared File": {
      "main": [[{"node": "LlamaParse Upload", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "id": "correct-shared-volume",
  "tags": []
}