workflows/archive/failed_attempts/URL_based_SET_NODE.json
{
  "name": "URL-Based-SET-NODE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docsgpt-batch-process",
        "responseMode": "lastNode",
        "responseData": "allEntries"
      },
      "id": "webhook-trigger",
      "name": "DocsGPT Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "docsgpt-batch-process"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "download_url",
              "name": "download_url", 
              "value": "=http://docsgpt-oss-backend-1:7091/api/download?filename={{ $json.files[0].name }}&user=test_user",
              "type": "string"
            },
            {
              "id": "file_name",
              "name": "file_name",
              "value": "={{ $json.files[0].name }}",
              "type": "string"
            },
            {
              "id": "ready_for_llamaparse",
              "name": "ready_for_llamaparse",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "build-download-url",
      "name": "Build Download URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer LLAMAPARSE_API_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "input_url",
              "value": "={{ $json.download_url }}"
            },
            {
              "name": "result_type",
              "value": "markdown"
            },
            {
              "name": "premium_mode",
              "value": "true"
            }
          ]
        }
      },
      "id": "llamaparse-upload",
      "name": "LlamaParse Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 45
      },
      "id": "wait-processing",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $('LlamaParse Upload').first().json.id }}/result/markdown",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer LLAMAPARSE_API_KEY_PLACEHOLDER"
            }
          ]
        }
      },
      "id": "get-results",
      "name": "Get LlamaParse Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "DocsGPT Webhook": {
      "main": [[{"node": "Build Download URL", "type": "main", "index": 0}]]
    },
    "Build Download URL": {
      "main": [[{"node": "LlamaParse Upload", "type": "main", "index": 0}]]
    },
    "LlamaParse Upload": {
      "main": [[{"node": "Wait for Processing", "type": "main", "index": 0}]]
    },
    "Wait for Processing": {
      "main": [[{"node": "Get LlamaParse Results", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "url-set-node",
  "meta": {},
  "id": "url-based-set-node",
  "tags": []
}