workflows/archive/docsgpt_llamaparse_workflow_v2.json
{
  "name": "DocsGPT-LlamaParse-Integration-v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "docsgpt-batch-process",
        "responseMode": "lastNode",
        "responseData": "allEntries"
      },
      "id": "webhook-trigger",
      "name": "DocsGPT Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "docsgpt-batch-process"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "file_data",
              "name": "file_data",
              "value": "={{ $json.files[0] }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-file",
      "name": "Extract File Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "filePath": "=/data/{{ $json.file_data.user }}/{{ $json.file_data.job_name }}/{{ $json.file_data.name }}",
        "options": {}
      },
      "id": "fetch-file-docsgpt",
      "name": "Read File Direct",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer LLAMAPARSE_API_KEY_PLACEHOLDER"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "result_type",
              "value": "markdown"
            },
            {
              "name": "premium_mode",
              "value": "true"
            }
          ]
        },
        "sendBinaryData": true,
        "binaryPropertyName": "data"
      },
      "id": "llamaparse-upload",
      "name": "LlamaParse Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "unit": "seconds",
        "amount": 45
      },
      "id": "wait-processing",
      "name": "Wait for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $('LlamaParse Upload').first().json.id }}/result/markdown",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer LLAMAPARSE_API_KEY_PLACEHOLDER"
            }
          ]
        }
      },
      "id": "get-results",
      "name": "Get LlamaParse Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Basic validation and response preparation\nconst llamaParseResult = items[0].json;\nconst webhookData = $('DocsGPT Webhook').first().json;\n\n// Extract the markdown content\nlet markdownContent = '';\nif (llamaParseResult.markdown) {\n  markdownContent = llamaParseResult.markdown;\n} else if (typeof llamaParseResult === 'string') {\n  markdownContent = llamaParseResult;\n} else {\n  markdownContent = JSON.stringify(llamaParseResult);\n}\n\n// Prepare response data\nconst response = {\n  success: true,\n  batch_id: webhookData.batch_id,\n  user_id: webhookData.user_id,\n  processed_file: webhookData.files[0].name,\n  markdown_length: markdownContent.length,\n  processing_timestamp: new Date().toISOString(),\n  markdown_preview: markdownContent.substring(0, 500) + '...',\n  status: 'docsgpt_integration_complete'\n};\n\nreturn [{ json: response }];"
      },
      "id": "basic-response",
      "name": "Prepare Basic Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "DocsGPT Webhook": {
      "main": [
        [
          {
            "node": "Extract File Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File Data": {
      "main": [
        [
          {
            "node": "Read File Direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File Direct": {
      "main": [
        [
          {
            "node": "LlamaParse Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LlamaParse Upload": {
      "main": [
        [
          {
            "node": "Wait for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Processing": {
      "main": [
        [
          {
            "node": "Get LlamaParse Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get LlamaParse Results": {
      "main": [
        [
          {
            "node": "Prepare Basic Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "2",
  "meta": {},
  "id": "docsgpt-llamaparse-integration-v2",
  "tags": []
}